<nav class="navbar-custom">
    <div class="container-fluid px-3 px-md-5 d-flex align-items-center justify-content-between">
        
        <a class="navbar-brand-custom" href="#">
            <img src="/images/funbalitours.png" alt="Logo" class="logo-img">
        </a>

        <div class="nav-box-container d-none d-lg-flex">
            <ul class="nav-links">
                <li><a href="/home.html">Home</a></li>
                <li class="dropdown-custom">
                    <a href="javascript:void(0)">Tours <i class="bi bi-chevron-down"></i></a>
                    <ul class="dropdown-menu-custom">

                        <li><a href="/tourpack/index.html">Tour Packages</a></li>
                        <li><a href="/baliact/index.html">Bali Activities</a></li>

                    </ul>
                </li>
                <li><a href="/blog/index.html">Blog</a></li>
                <li><a href="/gallery.html">Gallery</a></li>
                <li><a href="/about.html">About</a></li>  
            </ul>
        </div>

        <div class="nav-action-button d-none d-lg-block">
            <a href="#" class="btn-reservasi">RESERVASI TOUR</a>
        </div>

        <div class="d-lg-none">
            <button class="hamburger-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </button>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-top custom-offcanvas" tabindex="-1" id="offcanvasNavbar">
    <div class="offcanvas-header justify-content-end px-4 pt-4">
    </div>
    <div class="offcanvas-body">
        <ul class="mobile-nav-links">
            <li><a href="#">Home</a></li>
            <li class="mobile-dropdown">
                <a class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#collapseTours" role="button" aria-expanded="false">
                    Tours <i class="bi bi-plus-lg"></i>
                </a>
                <div class="collapse" id="collapseTours">
                    <ul class="submenu-mobile">
                        <li><a href="#">Tour Packages</a></li>
                        <li><a href="#">Bali Activities</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">About</a></li>
            <li class="mt-4 px-2 pb-4">
                <a href="#" class="btn-reservasi w-100 text-center py-3">RESERVASI SEKARANG</a>
            </li>
        </ul>
    </div>
</div>